DATABASE_URL="mysql://root:root123@localhost:3307/inventario_it"

DB_HOST=localhost
DB_PORT=3307
DB_USER=root
DB_PASSWORD=root123
DB_NAME=inventario_it

JWT_SECRET="change_this_in_production"
TZ=America/Ciudad_Juarez